{% extends 'navbar.html' %}

{% block body %}
    <div class="overlay">
            <div class="con">
                <header class="head-form">
      <h2>{{ data_p.name }}</h2>
                    <br>
                    <h4>{{ data_p.year_of_birth }}</h4><br>
                    <h4>{{ data_p.service_number }}</h4><br>
                    <h4>{{ data_p.position }}</h4><br>
                    <h4>{{ data_p.date_of_enrollment }}</h4><br>
                    <h4>{{ data_p.boat_number }}</h4><br>
                    <a href="{% url 'edit_url' data_p.id %}">Edit</a>
                    <a href="{% url 'delete_url' data_p.id %}">Delete</a>
                </header>
            </div>
    </div>
{% endblock %}